numpy==1.26.4
pandas==2.2.2
torch==2.1.0
torchvision
torchaudio
transformers==4.43.4
adapters==1.0.0
fastapi==0.115.0
uvicorn==0.30.6
jinja2==3.1.4
pydantic==2.9.2
peft==0.12.0
python-multipart==0.0.10